# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = github.settings

[deploy:raspberry_v1]
url = http://10.0.0.245:6800/
project = github
